@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

body {
  background: rgb(168,131,252);
  background: linear-gradient(90deg, rgba(168,131,252,1) 0%, rgba(71,46,171,1) 35%, rgba(2,0,36,1) 100%);
}

.titulo {
    color: rgb(85, 63, 209);
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 4%;
  }

.grid {
	display: grid;
	justify-content: center;
}

.caixa {
    background-color: #080416;
    width: 600px;
    height: 510px;
    border-bottom: #2E177F solid 10px;
    border-radius: 10px;
    margin-top: 30%;
    margin-bottom: 5%;
}

.nomes {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-family: 'Khand', sans-serif;
    margin-right: 5%;
    margin-top: 3%;
}