<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <section class="container grid grid-template-columns-cp">
    
    <form class="formas" action="logar" method="POST">
      <p class="titulo">Autenticação de Usuário</p>
      <input class="inpas" type="text" name="usuario" placeholder="Usuário"/></label>
      <input class="inpas" type="password" name="senha" placeholder="Senha"/></label>
      <input class="botas" type="submit" name="enviar" value="ENVIAR"/>
    </form>
</section>
</body>
</html>